.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.section1 {
    background: #1F2937;
    padding-bottom: 75px;
    
}

.hero {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 800px;
  }

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    /* removes underlining from links*/
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main_title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;

}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 600px;

}

.placeholder {
    background-color: grey;
    padding: 50px;
    margin: 30px;
}

.signup {
    background-color: #3882F6;
}

button.signup {
    color: white;
}

.midtop {
    display: flex;
    justify-content: space-evenly;
}

.container2 {
    display: flex;
    justify-content: center;
    
    gap: 52px;
}

.info {
    max-width: 200px;
}

img {
    width: 100px;
    height: 100px;
}

.section2 {
    padding: 100px;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: 1F2937;
    font-weight: 800px;
}
.section3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
    
    
    
}

.quote {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
    color: 1F2937;  
}

.quotesource {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.call_action {
    font-size: 24px;
    color: white;
   
    
}

.section4 {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 180px;
    padding: 60px;
    
    
}

.text_action {
    color: white;
}

.call_text {
    
    
}
.section4.signup {
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer {
    height: 72px;
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: stretch;
    max-width: 500px;
    padding-left: 450px;
    padding-right: 450px;
}

body {
    font-family: 'Roboto', sans-serif;
}