.header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    /* removes underlining from links*/
    text-decoration: none;
}

