.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.modal {
    background: #1F2937;
    
}

.hero {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 480px;
  }

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    /* removes underlining from links*/
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main_title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;

}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 600px;

}

.placeholder {
    background-color: grey;
    padding: 50px;
    margin: 30px;
}

.signup {
    background-color: #3882F6;
}

.midtop {
    display: flex;
    justify-content: space-evenly;
}